   #topbox {
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.nGG8i3p562WdEN-lhwf5ugHaEK%26pid%3DApi%26h%3D160&f=1");
    height: 87.5%;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    margin: auto;
    opacity: 0.75;
    filter: blur(15px);
   }
   #topbox:hover {
    opacity: 1;
    filter: blur(0px);
   }
   #gallery {
    border: 6px solid black;
    border-style: double;
    border-radius: 15px;
    height: 220%;
    width: 75%;
    margin: auto;
    margin-bottom: 5px;
    position: relative;
    padding: 15px;
    background-color: white;
   }
   #gallery-break {
    font-family: courier;
    position: sticky;
    top: 0;
    text-decoration: underline;
    text-align: center;
    margin-top: 38px;
    margin-bottom: 15px;
    margin-left: 12.25%;
    margin-right: 12.25%;
    border: 3px solid black;
    background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.nGG8i3p562WdEN-lhwf5ugHaEK%26pid%3DApi%26h%3D160&f=1");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 1;
    z-index: 1;
   }
   .artimg {
    font-family: courier;
    display: block;
    margin: 7.5px;
    filter: blur(15px);
    display: inline;
    position: relative;
   }
   .artimg:hover {
    filter: blur(0px);
   }
   #contactinfo {
    background-color: black;
    color: white;
    width: 75%;
    height: 75px;
    text-align: center;
    z-index: -1;
    position: sticky;
    bottom: 0;
    margin-left: 12.5%;
    font-family: courier;
    font-size: 200%;
    padding: 0px;
   }
